* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5;
}

section {
  width: 25%;
  margin-left: 35%;
  background-color: white;
  margin-top: 50px;
  padding-left: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
  padding-top: 30px;
  font-size: 30px;
}

#button {
  height:35px;
  width: 80%;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  background-color: rgb(117, 9, 117);
  border-style: none;
  
}

.login {
  margin-bottom: 20px;
  font-size: 10px;

}

.login input{
  height: 35px;
  width: 80%;
  padding-left: 10px;
  border-radius: 5px;
  border-color: white;
  border-style: none;
  border-color: none;
  background-color: rgb(222, 220, 220);
  margin-top: 10px;
}

#checkbox span{
  font-size: 10px;
  font-weight: bold;

}
#checkbox input {
  margin-right: 10px;
  transform: scale(1.5);
  accent-color: gray;
}

